/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty {
            display-name = "qwerty";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB                  &kp Q  &kp W  &kp E         &kp R         &kp T            &kp Y        &kp U      &kp I           &kp O    &kp P     &kp BSPC
&mt LEFT_CONTROL ESCAPE  &kp A  &kp S  &kp D         &kp F         &kp G            &kp H        &kp J      &kp K           &kp L    &kp SEMI  &kp RET
&sk LSHFT                &kp Z  &kp X  &kp C         &kp V         &kp B            &kp N        &kp M      &kp COMMA       &kp DOT  &kp FSLH  &sk RIGHT_SHIFT
                                       &kp LEFT_ALT  &kp LEFT_GUI  &kp BACKSPACE    &lt 5 SPACE  &lt 4 TAB  &lt 6 CAPSLOCK
            >;
        };

        ColemakDH {
            display-name = "colemakDH";
            bindings = <
&kp TAB                  &kp Q  &kp W  &kp F         &kp P         &kp B            &kp J        &kp L      &kp U           &kp I    &kp SEMICOLON  &kp BSPC
&mt LEFT_CONTROL ESCAPE  &kp A  &kp R  &kp S         &kp T         &kp G            &kp M        &kp N      &kp E           &kp I    &kp O          &kp RET
&sk LSHFT                &kp Z  &kp X  &kp C         &kp D         &kp V            &kp K        &kp H      &kp COMMA       &kp DOT  &kp FSLH       &sk RIGHT_SHIFT
                                       &kp LEFT_ALT  &kp LEFT_GUI  &kp BACKSPACE    &lt 5 SPACE  &lt 4 TAB  &lt 6 CAPSLOCK
            >;
        };

        Game {
            bindings = <
&kp ESCAPE  &kp TAB           &kp Q  &kp W   &kp E  &kp R        &trans  &trans  &trans  &trans  &trans  &trans
&kp T       &kp LEFT_SHIFT    &kp A  &kp S   &kp D  &kp F        &trans  &trans  &trans  &trans  &trans  &trans
&kp M       &kp LEFT_CONTROL  &kp Z  &kp X   &kp C  &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                                     &trans  &mo 3  &kp SPACE    &trans  &trans  &trans
            >;

            label = "Game";
        };

        Gamming_secondary {
            bindings = <
&trans  &kp NUMBER_6  &kp NUMBER_7  &trans        &kp NUMBER_8  &kp NUMBER_9    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &kp NUMBER_0    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans        &trans        &trans          &trans  &trans  &trans
            >;

            label = "GameSec";
        };

        number {
            display-name = "Lower Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp C_BRIGHTNESS_DEC  &bl BL_DEC    &bl BL_INC    &kp C_VOL_DN  &kp C_VOLUME_UP  &kp K_MUTE      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp PRINTSCREEN  &kp C_BRIGHTNESS_INC
&trans                &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4     &kp NUMBER_5    &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9     &kp NUMBER_0     &kp F12
&trans                &kp F1        &kp F2        &kp F3        &kp F4           &kp F5          &kp F6          &kp F7          &kp F8        &kp F9           &kp F10          &kp F11
                                                  &trans        &trans           &trans          &trans          &trans          &trans
            >;

            label = "number";
        };

        symbols {
            display-name = "symbols";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp GRAVE  &kp LT        &kp MINUS         &kp GREATER_THAN   &kp PIPE         &kp DOLLAR  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SINGLE_QUOTE   &kp CARET       &trans
&trans  &kp EXCL   &kp ASTERISK  &kp SLASH         &kp EQUAL          &kp AMPERSAND    &kp DELETE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES  &kp UNDERSCORE  &trans
&trans  &kp TILDE  &kp PLUS      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PERCENT      &kp AT      &kp POUND             &kp COMMA              &kp DOT            &kp BACKSLASH   &trans
                                 &trans            &trans             &trans           &trans      &trans                &trans
            >;
        };

        Switch_profile {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&to 0       &to 1         &to 2         &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans        &trans        &trans          &trans  &trans  &trans
            >;

            label = "config";
        };
    };
};
